@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');




body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
}
p {
  margin: 0;
  text-align: justify;
}
h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}
span {
  color: #B7832F;
}
.App {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0.5em 0;
/*  align-items: flex-start;*/
}

@media (max-width: 960px) {
  .columns {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 960px) {
  div.col {
    width: 80%;
    padding: 1em;
  }
}

.col--dark {
  color: white;
  background-color: #312614;
  padding: 1em;
}

.col--bright {
  color: #707070;
}

.col--1 {
  width: 20%;
}

.col--2 {
  width: 45%;
}

.col--3 {
  width: 70%;
}